body {
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;

}

h5, h2 {
    text-align: center;
}

col s6 {
    align-content: center;
}


header {
  background: 
    linear-gradient(
      rgba(92, 66, 244, 0.5),
      rgba(92, 66, 244, 0.1)
    ),
    url("/img/lines.jpg");
  background-size: 100% auto;
  height: auto;
  position: relative;
}

.container {
    margin-top: 50px;
    
}